@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 180vh;
    width: 100%;
    .content{
        height: 100%;
        width: 100%;   
        background-color: hsl(0, 0%, 98%);
        .title_box{
            height: 50vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            header{
                width: 85%;
                text-align: center;
                margin-bottom: 1rem;
                h1{
                    color: hsl(234, 12%, 34%);
                    font-size: 1.7rem;
                    font-weight: 200;
                    span{
                        display: inline-block;
                        font-size: 1.7rem;
                        font-weight: 600;
                    }
                }
            }
            p{
                    width: 85%;
                    text-align: center;
                    color: hsl(229, 6%, 66%);
                }
        }
        .cards_box{
            display: flex;
            flex-direction: column;
            section{
                height: 40vh;
            }
            .card_2{
                height: 80vh;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                article{
                    height: 45%;
                }
            }
            article{
                height: 90%;
                width: 85%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                background-color: #fff;
                border-radius: 5px;
                box-shadow: 0px 12px 13px 0px hsl(229, 6%, 66%);
                img{
                    align-self: flex-end;
                }
            }
        }
    }
}

footer{
    display: none;
}