@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 190vh;
  width: 100%;
}

body .content {
  height: 100%;
  width: 100%;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .content .title_box {
  height: 40vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .content .title_box header {
  width: 85%;
  text-align: center;
  margin-bottom: 1rem;
}

body .content .title_box header h1 {
  color: #4c4e61;
  font-size: 1.7rem;
  font-weight: 200;
}

body .content .title_box header h1 span {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
}

body .content .title_box p {
  width: 85%;
  text-align: center;
  color: #a3a5ae;
}

body .content .cards_box {
  -ms-flex-preferred-size: 140vh;
      flex-basis: 140vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .content .cards_box article {
  background-color: #fff;
  width: 85%;
  margin: 0 auto;
  -webkit-box-shadow: 0 6px 12px 1px #bcc1d7;
          box-shadow: 0 6px 12px 1px #bcc1d7;
  border-radius: 7px;
  padding: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .content .cards_box article h4 {
  font-size: 1.3rem;
  color: #4c4e61;
  margin-bottom: 5%;
}

body .content .cards_box article p {
  font-size: 0.9rem;
  margin-bottom: 10%;
  color: #a3a5ae;
}

body .content .cards_box article img {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

body .content .cards_box .supervisor {
  border-top: 5px solid #45d3d3;
}

body .content .cards_box .team_builder {
  border-top: 5px solid #ea5353;
}

body .content .cards_box .karma {
  border-top: 5px solid #fcaf4a;
}

body .content .cards_box .calculator {
  border-top: 5px solid #549ef2;
}

body .content .cards_box .card_1, body .content .cards_box .card_3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

body .content .cards_box .card_1 article, body .content .cards_box .card_3 article {
  height: 90%;
  margin-top: 5%;
}

body .content .cards_box .card_2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .content .cards_box .card_2 article {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

footer {
  display: none;
}
/*# sourceMappingURL=style.css.map */